@import "tailwindcss";

@theme {
    --color-primary: #000000;
    --color-secondary: #00D2FF;
    --color-accent: #f7df1e;
}

html {
    font-family: "Clash", system-ui, sans-serif;
}

.swiper-pagination {
    bottom: 20px !important;
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    margin: 0 6px !important;
    background: white !important;
    opacity: 0.6 !important;
    transition: all 0.3s ease !important;
}

.swiper-pagination-bullet-active {
    width: 30px !important;
    border-radius: 5px !important;
    background: var(--color-accent) !important;
    opacity: 1 !important;
}